<div id="main-nav" class="d-flex flex-column flex-shrink-0 border-end">
    <div class="brand d-flex align-items-center p-3 border-bottom">
        <img width="30" height="30" src="/static/img/logo-v2.png" class="inline-block border rounded-1 p-1 bg-white"
            alt="logo">
        <a class="fs-5 fw-bold ms-2 text-body text-decoration-none" href="/">Runtime.land</a>
    </div>
    <div class="flex-column mb-auto pt-3">
        <div class="projects-nav px-3">
            <nav class="nav flex-column">
                <p class="text-uppercase small text-body-tertiary pb-1 mb-0">Admin</p>
                <a class="nav-link rounded-2 mt-1 {{is_nav_active 'admin-dashboard' page.nav}}" href="/"><i
                        class="bi bi-card-list me-2"></i>Dashboard</a>
                <a class="nav-link rounded-2 mt-1 {{is_nav_active 'admin-deploys' page.nav}}" href="/deploys"><i
                        class="bi bi-cloud-download me-2"></i>Deploys</a>
                <a class="nav-link rounded-2 mt-1 {{is_nav_active 'admin-workers' page.nav}}" href="/workers"><i
                        class="bi bi-diagram-3 me-2"></i>Workers</a>
                <a class="nav-link rounded-2 mt-1 {{is_nav_active 'admin-projects' page.nav}}" href="/projects"><i
                        class="bi bi-kanban me-2"></i>Projects</a>
                <a class="nav-link rounded-2 mt-1 {{is_nav_active 'admin-settings' page.nav}}" href="/settings"><i
                        class="bi bi-gear-wide-connected me-2"></i>Settings</a>
            </nav>
        </div>
    </div>
    <div class="nav-bottom">
        <div class="resources-nav px-3 pb-4">
            <nav class="nav flex-column">
                <p class="text-uppercase small text-body-tertiary pb-1 mb-0">Resources</p>
                <a class="nav-link rounded-2 mt-1" href="#"><i class="bi bi-chat-square-dots me-2"></i>Feedback</a>
                <a class="nav-link rounded-2 mt-1" href="#"><i class="bi bi-files-alt me-2"></i>Docs</a>
            </nav>
        </div>
    </div>
</div>