<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    {{> parts/head.hbs}}
</head>

<body>
    <div id="root">
        {{> parts/sidebar.hbs}}
        <main id="main" class="w-100 overflow-y-auto">
            {{> parts/top-nav.hbs}}
            <div id="main-container">
                <div id="projects-overview" class="p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <p class="mb-0 fw-medium fs-5">Recent Projects</p>
                            <p class="mb-0 small text-body-tertiary">Show the most recent projects you have deployed.</p>
                        </div>
                        <a href="/new" class="link-reset">
                            <button class="btn btn-dark vertical-center">
                                <i class='bx bx-plus me-2'></i>New Projects
                            </button>
                        </a>
                    </div>
                    <div class="row g-3 py-3">
                        {{#each projects}}
                        <div class="col-md-4">
                            <a href="/projects/{{name}}"
                                class="d-flex flex-column project-item border rounded p-3 text-reset text-decoration-none">
                                <div class="meta d-flex justify-content-between align-items-top mb-1">
                                    <div class="title">
                                        <h6 class="fw-bold mb-1">{{name}}</h6>
                                        <p class="mb-0 text-body-tertiary small">edit with
                                            <span class="text-uppercase">{{created_by}}</span>
                                        </p>
                                    </div>
                                    <div class="lang-logo">
                                        <img src="/static/img/js-logo.svg" class="ms-2 {{lang}}-svg" alt="{{lang}}">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start">
                                    <button
                                        class="btn btn-reset btn-sm ps-0 y-center"><span
                                            class="link text-decoration-underline">{{prod_domain_full}}</span><i
                                            class='bx bx-link-external ms-1 fs-6'></i></button>
                                </div>
                                <p class="mb-1 text-body-secondary small">Last updated: <span class="time-ago ms-1"
                                        data-x-timeago="{{updated_at}}"></span></p>
                            </a>
                        </div>
                        {{/each}}
                        <div class="col-md-4">
                            <a href="/projects"
                                class="d-flex flex-column project-item border rounded p-3 text-reset text-decoration-none project-item-new">
                                View All Projects
                            </a>
                        </div>
                    </div>
                </div>
                {{> components/traffic.hbs}}
            </div>
            {{> parts/footer.hbs}}
        </main>
    </div>
    {{> parts/js.hbs}}
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"
        integrity="sha256-6EJwvQzVvfYP78JtAMKjkcsugfTSanqe4WGFpUdzo88=" crossorigin="anonymous"></script>
</body>

</html>