<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    {{> partials/head.hbs}}
</head>

<body>
    <main id="main-container" class="d-flex flex-nowrap">
        {{> partials/nav-sidebar.hbs}}
        <div id="main-body" class="w-100">
            {{> partials/nav-top.hbs}}
            <div id="main-panel" class="overflow-y-auto">
                <div id="overview-projects" class="pt-3 px-3 container">
                    <div class="meta d-flex justify-content-between">
                        <div>
                            <h5>Recently updated projects</h5>
                            <p class="text-body-tertiary mb-1">Projects that have been recently updated.</p>
                        </div>
                        <div>
                            <a class="btn btn-primary" href="/new"><i class="bi bi-plus-lg me-2"></i>New Project</a>
                        </div>
                    </div>
                    <div class="row g-4 py-3">
                        {{#each projects}}
                        <div class="col-4 project-item">
                            <a class="border rounded-2 d-block p-3 text-decoration-none" href="/projects/{{name}}">
                                <div class="d-flex justify-content-between">
                                    <div class="project-item-title">
                                        <h6 class="fw-bold text-body">{{name}}</h6>
                                        <p class="text-body-tertiary small mb-1">Edit by <span
                                                class="text-uppercase">{{created_by}}</span>
                                            {{#if (eq_str status 'disabled')}}
                                            <span class="ms-2 text-uppercase text-danger">{{status}}</span>
                                            {{/if}}
                                        </p>
                                    </div>
                                    <div class="project-item-icon">
                                        {{#if (is_js_project language)}}
                                        {{> partials/svg-js.hbs}}
                                        {{/if}}
                                        {{#if (is_ts_project language)}}
                                        {{> partials/svg-ts.hbs}}
                                        {{/if}}
                                        {{#if (is_rust_project language)}}
                                        {{> partials/svg-rust.hbs}}
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="project-item-meta">
                                    <button class="view-btn btn btn-link px-0 text-body-secondary"
                                        href="{{prod_domain_url}}">{{prod_domain_full}}
                                        <i class="ms-2 bi bi-box-arrow-up-right"></i>
                                    </button>
                                    <p class="text-body-tertiary small mb-0">Last
                                        updated: <span class="time-ago"
                                            data-x-timeago="{{updated_at}}">{{updated_at}}</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                        {{/each}}
                        <div class="col-4 project-item project-item-more">
                            <a href="/projects" class="border rounded-2 d-block p-3 text-decoration-none">
                                View All Projects
                            </a>
                        </div>
                    </div>
                </div>
                <div id="account-traffic" class="pt-3 px-3 border-top">
                    {{> partials/traffic.hbs}}
                </div>
                {{> partials/nav-footer.hbs}}
            </div>
    </main>
    {{> partials/footer.hbs}}
    <script type="text/javascript">
        document.querySelectorAll(".view-btn").forEach(function (el) {
            el.addEventListener("click", function (e) {
                e.preventDefault();
                window.open(el.getAttribute("href"), "_blank");
            });
        });
    </script>
</body>

</html>