<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    {{> parts/head.hbs}}
</head>

<body>
    <div id="root">
        {{> parts/sidebar.hbs}}
        <main id="main" class="w-100">
            {{> parts/top-nav.hbs}}
            <div id="main-container" class="overflow-y-auto">
                <div id="projects-overview" class="p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <p class="mb-1 fw-medium fs-5">Recent Projects</p>
                            <p class="mb-0 text-body-tertiary">Show the most recent projects you have deployed.</p>
                        </div>
                        <a href="/new" class="link-reset">
                            <button class="btn btn-dark vertical-center">
                                <i class='bx bx-plus me-2'></i>New Projects
                            </button>
                        </a>
                    </div>
                    <div class="row g-4 py-3">
                        {{#each projects}}
                        <div class="col-md-4">
                            <a href="/projects/{{name}}"
                                class="d-flex flex-column project-item border rounded p-3 text-reset text-decoration-none">
                                <div class="meta d-flex justify-content-between align-items-top mb-2">
                                    <div class="title">
                                        <h6 class="fw-bold">{{name}}</h6>
                                        <p class="mb-1 text-body-tertiary small text-uppercase">Edit with
                                            {{created_by}}
                                        </p>
                                    </div>
                                    <div class="lang-logo">
                                        <img src="/static/img/js-logo.svg" class="ms-2 {{lang}}-svg" alt="{{lang}}">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start">
                                    <button
                                        class="btn btn-reset btn-sm flex-align-center ps-0 text-decoration-underline"><span
                                            class="link">{{prod_domain_full}}</span><i
                                            class='bx bx-link-external ms-2'></i></button>
                                </div>
                                <p class="mb-1 text-body-secondary small">Last updated: <span class="time-ago ms-1"
                                        data-x-timeago="{{updated_at}}"></span></p>
                            </a>
                        </div>
                        {{/each}}
                        <div class="col-md-4">
                            <a href="/projects"
                                class="d-flex flex-column project-item border rounded p-3 text-reset text-decoration-none project-item-new">
                                View All Projects
                            </a>
                        </div>
                    </div>
                </div>
                <div id="projects-traffic" class="p-3 border-top">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <p class="mb-1 fw-medium fs-5">Global Traffic</p>
                            <p class="mb-0 text-body-tertiary">Aggregate traffic data for your account.</p>
                        </div>
                        <div class="dropdown">
                            <button
                                class="btn btn-sm btn-secondary dropdown-toggle text-body-secondary custom-theme-btn"
                                data-bs-toggle="dropdown" id="traffic-period-btn" type="button">Last 24 Hours
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item traffic-period-select" href="#">Last 24
                                        Hours</a></li>
                                <li><a class="dropdown-item traffic-period-select" href="#">Last 7
                                        Days</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {{> parts/footer.hbs}}
        </main>
    </div>
    {{> parts/js.hbs}}
</body>

</html>