<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    {{> partials/head.hbs}}
</head>

<body>
    <main id="main-container" class="d-flex flex-nowrap">
        {{> partials/nav-sidebar.hbs}}
        <div id="main-body" class="w-100">
            {{> partials/nav-top.hbs}}
            <div id="main-panel" class="overflow-y-auto">
                <div id="all-projects" class="pt-3 px-3">
                    <div class="meta d-flex justify-content-between">
                        <div>
                            <h5>Projects</h5>
                            <p class="text-body-tertiary mb-1">All projects that you have created.</p>
                        </div>
                        <div>
                            <a class="btn btn-primary" href="/new"><i class="bi bi-plus-lg me-2"></i>New Project</a>
                        </div>
                    </div>
                    <table id="projects-table" class="table shadow-none mb-4">
                        <thead>
                            <tr class="all-projects-thead">
                                <th scope="col" class="lang"></th>
                                <th scope="col">Name</th>
                                <th scope="col">URL</th>
                                <th scope="col">Traffic</th>
                                <th scope="col">Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each projects}}
                            <tr class="all-projects-item">
                                <td class="lang" scope="row">
                                    {{#if (is_js_project language)}}
                                    {{> partials/svg-js.hbs}}
                                    {{/if}}
                                    {{#if (is_ts_project language)}}
                                    {{> partials/svg-ts.hbs}}
                                    {{/if}}
                                    {{#if (is_rust_project language)}}
                                    {{> partials/svg-rust.hbs}}
                                    {{/if}}
                                </td>
                                <td class="title">
                                    <h6 class="fw-bold mb-1"><a href="/projects/{{name}}"
                                            class="text-body text-decoration-none">{{name}}</a></h6>
                                    <p class="mb-0 text-body-tertiary small">{{description}}</p>
                                </td>
                                <td class="url">
                                    <a class="text-body-secondary" href="{{prod_domain_url}}"
                                        target="_blank">{{prod_domain_full}}</a>
                                </td>
                                <td class="traffic">
                                    <span class="total-requests border-end pe-2 me-2">14342</span>
                                    <span class="total-bandwidth">284.94 MiB</span>
                                </td>
                                <td class="updated">
                                    <span class="time-ago text-body-tertiary small"
                                        data-x-timeago="{{updated_at}}">{{updated_at}}</span>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{> partials/nav-footer.hbs}}
            </div>
    </main>
    {{> partials/footer.hbs}}
</body>

</html>