<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    {{> partials/head.hbs}}
</head>

<body>
    <main id="main-container" class="d-flex flex-nowrap">
        {{> partials/nav-sidebar.hbs}}
        <div id="main-body" class="w-100">
            {{> partials/nav-top.hbs}}
            <div id="main-panel" class="overflow-y-auto">
                <div id="all-projects" class="pt-3 px-3">
                    <div class="meta d-flex justify-content-between">
                        <div>
                            <h5>Projects</h5>
                            <p class="text-body-tertiary mb-1">All projects that you have created.</p>
                        </div>
                        <div>
                            <a class="btn btn-primary" href="/new"><i class="bi bi-plus-lg me-2"></i>New Project</a>
                        </div>
                    </div>
                    <table id="projects-table" class="table shadow-none mb-4">
                        <thead>
                            <tr class="all-projects-thead">
                                <th scope="col" class="lang"></th>
                                <th scope="col">Name</th>
                                <th scope="col">URL</th>
                                <th scope="col">Traffic<span class="small ms-1 text-body-tertiary">(REQUESTS | BYTES, 24
                                        Hour)</span></th>
                                <th scope="col">Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each projects}}
                            <tr class="all-projects-item">
                                <td class="lang" scope="row">
                                    {{#if (is_js_project language)}}
                                    {{> partials/svg-js.hbs}}
                                    {{/if}}
                                    {{#if (is_ts_project language)}}
                                    {{> partials/svg-ts.hbs}}
                                    {{/if}}
                                    {{#if (is_rust_project language)}}
                                    {{> partials/svg-rust.hbs}}
                                    {{/if}}
                                </td>
                                <td class="title">
                                    <h6 class="fw-bold mb-1"><a href="/projects/{{name}}"
                                            class="text-body text-decoration-none">{{name}}</a></h6>
                                    <p class="mb-0 text-body-secondary small">{{description}}</p>
                                </td>
                                <td class="url">
                                    <a class="text-body-secondary" href="{{prod_domain_url}}"
                                        target="_blank">{{prod_domain_full}}</a>
                                </td>
                                <td class="traffic">
                                    {{#if traffic}}
                                    <span class="traffic-requests border-end pe-2 me-2"
                                        data-x-value="{{traffic.requests}}">{{traffic.requests}}</span>
                                    <span class="traffic-bytes"
                                        data-x-value="{{traffic.transferred_bytes}}">{{traffic.transferred_bytes}}</span>
                                    {{else}}
                                    <span class="border-end pe-2 me-2">-</span>
                                    <span>-</span>
                                    {{/if}}
                                </td>
                                <td class="updated">
                                    <span class="time-ago text-body-secondary small"
                                        data-x-timeago="{{updated_at}}">{{updated_at}}</span>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{> partials/nav-footer.hbs}}
            </div>
    </main>
    {{> partials/footer.hbs}}
    <script type="text/javascript">
        document.querySelectorAll(".traffic-requests").forEach(function (el) {
            let value = parseInt(el.getAttribute("data-x-value")) || 0;
            el.textContent = friendly_bytesize(value, false);
        });
        document.querySelectorAll(".traffic-bytes").forEach(function (el) {
            let value = parseInt(el.getAttribute("data-x-value")) || 0;
            el.textContent = friendly_bytesize(value, true);
        });
    </script>
</body>

</html>