<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    {{> parts/head.hbs}}
</head>

<body>
    <div id="root">
        {{> parts/sidebar.hbs}}
        <main id="main" class="w-100 overflow-y-auto">
            {{> parts/top-nav.hbs}}
            <div id="projects-container" class="overflow-y-auto p-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <p class="mb-1 fw-medium fs-5">All Projects</p>
                        <p class="mb-0 text-body-tertiary">All projects that you have created.</p>
                    </div>
                    <a href="/new" class="link-reset">
                        <button class="btn btn-dark vertical-center">
                            <i class='bx bx-plus me-2'></i>New Projects
                        </button>
                    </a>
                </div>
                <table id="projects-table" class="table shadow-none bg-transparent my-3">
                    <thead>
                        <tr>
                            <th scope="col"><span class="y-center">Name<i class='bx bx-sort ms-2'
                                        role="button"></i></span></th>
                            <th scope="col">Lang</th>
                            <th scope="col">Deployment URL</th>
                            <th scope="col" class="y-center">Requests / Bandwidth<i class='bx bx-info-circle ms-2'
                                    data-bs-toggle="tooltip" data-bs-title="Latest 24 Hours"></i></th>
                            <th scope="col">Status</th>
                            <th scope="col"><span class="y-center">Updated<i class='bx bx-sort ms-2'
                                        role="button"></i></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each projects}}
                        <tr x-data-pid="{{id}}">
                            <td>
                                <p class="mb-1 fw-semibold fs-6">
                                    <a href="/projects/{{name}}" class="link-reset link-hover">{{name}}</a>
                                </p>
                                <p class="mb-0 text-body-tertiary small fw-normal">edit with
                                    <span class="text-uppercase">{{created_by}}</span>
                                </p>
                            </td>
                            <td class="lang-logo">
                                <img src="/static/img/js-logo.svg" class="me-2 {{language}}-svg" alt="{{language}}">
                            </td>
                            <td>
                                {{#if prod_domain_url}}
                                <a href="{{prod_domain_url}}" target="_blank"
                                    class="link-reset y-center link-hover"><span
                                        class="link">{{prod_domain_full}}</span><i
                                        class='bx bx-link-external ms-2'></i></a></i>
                                {{/if}}
                            </td>
                            <td class="text-body-secondary">
                                <span id="p-{{id}}-reqs-value">-</span><span id="p-{{id}}-flows-value"
                                    class="border-start ms-2 ps-2">-</span>
                            </td>
                            <td>
                                <span class="small text-uppercase status-{{deploy_status}} badge">
                                    {{deploy_status}}
                                </span>
                            </td>
                            <td class="text-body-secondary"><span class="time-ago" data-x-timeago="{{updated_at}}"></span></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{> parts/footer.hbs}}
        </main>
    </div>
    {{> parts/js.hbs}}
    <script type="text/javascript">
        (async () => {
            let pids = [];
            document.querySelectorAll('tr[x-data-pid]').forEach((tr) => {
                let pid = tr.getAttribute('x-data-pid');
                pids.push(parseInt(pid));
            });

            let resp = await fetch("/traffic/projects", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    "period": "1d",
                    "pids": pids,
                })
            })
            let data = await resp.json();
            for (let i in pids) {
                let pid = pids[i];
                let total = data["pid-" + pid]?.total || 0;
                document.getElementById("p-" + pid + "-reqs-value").innerHTML = total;
                let ins = data["pid-" + pid + "-typ-main_in_bytes"]?.total || 0;
                let outs = data["pid-" + pid + "-typ-main_out_bytes"]?.total || 0;
                document.getElementById("p-" + pid + "-flows-value").innerHTML = friendly_bytesize(ins + outs, true);
            }
        })()
    </script>
</body>

</html>