<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    {{> parts/head.hbs}}
</head>

<body>
    <div id="root">
        {{> parts/sidebar.hbs}}
        <main id="main" class="w-100">
            {{> parts/top-nav.hbs}}
            <div id="project-new-container" class="overflow-y-auto p-3">
                <div>
                    <p class="mb-1 fw-medium fs-5">Create New Project</p>
                    <p class="mb-0 text-body-tertiary">Create a new project from following templates.</p>
                </div>
                <div class="row g-4 py-3">
                    {{#each examples}}
                    <div class="col-md-4">
                        <a href="/new/{{link}}"
                            class="d-flex flex-column project-item border rounded p-3 link-reset">
                            <div class="meta d-flex justify-content-between align-items-top mb-2">
                                <div class="title">
                                    <h6>{{title}}</h6>
                                    <p class="mb-1 text-body-secondary small">{{description}}</p>
                                </div>
                                <div class="lang-logo">
                                    <img src="/static/img/js-logo.svg" class="ms-2 {{lang}}-svg" alt="{{lang}}">
                                </div>
                            </div>
                            <div class="ops d-flex justify-content-end">
                                <button class="btn btn-dark btn-sm flex-align-center"><i
                                        class='bx bx-edit me-2'></i>Edit in
                                    Playground</button>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{> parts/footer.hbs}}
        </main>
    </div>
    {{> parts/js.hbs}}
</body>

</html>