<!doctype html>
<html>

<head>
    {{> partials/meta.hbs}}
</head>

<body>
    {{> admin/navbar.hbs}}
    <main id="admin-main">
        <div id="project-top">
            <h1 class="inline-block">{{project_count}} Projects</h1>
            <span class="inline-block ml-3 text-gray-500 uppercase"> - Page {{pagination.current}}</span>
        </div>
        <div id="project-searchbar">
            <form method="get">
                <label for="project-search-input">Search</label>
                <div class="relative inline-block">
                    <div class="search-icon">
                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input name="search" type="search" value="{{search}}" id="project-search-input"
                        placeholder="Project name" />
                </div>
                <button id="project-search-btn" type="submit">Search</button>
            </form>
        </div>
        <div id="projects-table-container">
            <table id="projects-table" class="projects-table">
                <thead>
                    <th>Name</th>
                    <th>Language</th>
                    <th>Owner</th>
                    <th>Deploys</th>
                    <th>Status</th>
                    <th>Updated</th>
                    <th>Ops</th>
                </thead>
                <tbody>
                    {{#each projects}}
                    <tr>
                        <td class="name">{{name}}</td>
                        <td class="lang">{{language}}</td>
                        <td class="owner">{{owner_name}}</td>
                        <td>{{deployments}} {{#if is_prod}}<span class="prod">prod</span>{{/if}}</td>
                        <td class="status {{status}}">{{status}}</td>
                        <td class="updated">{{updated_timeago}}</td>
                        <td class="ops">
                            <form method="post" action="/admin/projects">
                                <input type="hidden" name="uuid" value="{{uuid}}" />
                                <input type="hidden" name="owner_id" value="{{owner_id}}" />
                                <input type="hidden" name="csrf_token" value="{{../csrf_token}}" />
                                <input type="hidden" name="name" value="{{name}}">
                                {{#if is_active}}
                                <input type="hidden" name="action" value="disable">
                                <button class="disable" type="submit" title="disable">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                </button>
                                {{else}}
                                <input type="hidden" name="action" value="enable">
                                <button class="enable" type="submit" title="enable">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                </button>
                                {{/if}}
                            </form>
                            {{#if is_prod}}
                            <a href="{{production_url}}" title="visit" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
                                </svg>
                            </a>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <nav id="projects-pager" class="projects-pager">
                <ul>
                    <li>
                        <a href="{{pagination.prev_url}}" class="page prev">Previous</a>
                    </li>
                    {{#each pagination.links}}
                    <li>
                        <a href="{{url}}" class="page {{#if active}}active{{/if}}">{{page}}</a>
                    </li>
                    {{/each}}
                    <li>
                        <a href="{{pagination.next_url}}" class="page next">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>
    {{> partials/footer.hbs}}
</body>

</html>