<div id="top-nav" class="border-bottom d-flex justify-content-between align-items-center">
    <div class="left">
        {{#if page.admin}}
        <button class="ms-3 btn btn-sm btn-danger text-uppercase" disabled>Admin</button>
        {{/if}}
    </div>
    <div class="right d-flex justify-content-end">
        <div class="dropdown border-end pe-4 me-4" id="main-nav-user-dropdown">
            <button id="main-nav-user-dropdown-btn" class="btn btn-secondary dropdown-toggle custom-theme-btn"
                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img width="20" height="20" src="{{user.gravatar}}" alt="user-avatar" class="rounded-1" />
                <span class="ps-2 pe-1">{{user.name}}</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li class="border-bottom my-2 pb-2">
                    <div class="text-center">
                        <img width="80" height="80" src="{{user.gravatar}}" alt="user-avatar" class="rounded-1 mt-2" />
                        <p class="my-1 fw-bold">{{user.name}}</p>
                        <p class="my-1 small text-body-tertiary">{{user.email}}</p>
                    </div>
                </li>
                <li><a href="/settings" class="btn btn-link dropdown-item" type="button"><i
                            class="bi bi-gear me-2"></i>Settings</a>
                </li>
                {{#if user.admin}}
                <li><a href="/admin" class="btn btn-link dropdown-item" type="button"><i
                            class="bi bi-shield-shaded me-2"></i>Admin</a>
                </li>
                {{/if}}
                <li><a href="/sign-out" class="btn btn-link dropdown-item" type="button"><i
                            class="bi bi-x-octagon me-2"></i>Sign Out</a></li>
            </ul>
        </div>
        <div class="d-flex align-items-center color-modes me-4">
            <button class="btn btn-link px-0 text-decoration-none d-flex align-items-center" id="bd-theme"
                type="button">
                <i class="bi bi-brightness-high bs-theme-current-icon bs-theme-current-icon-light text-dark"></i>
                <i class="bi bi-moon-fill d-none bs-theme-current-icon bs-theme-current-icon-dark"></i>
            </button>
        </div>
    </div>
</div>