<aside id="sidebar" class="d-flex flex-column flex-shrink-0 border-end">
    <div class="brand d-flex align-items-center border-bottom justify-content-center" id="logo-brand">
        <img src="/static/img/logo-v2.png" alt="logo" width="30" height="30"
            class="inline-block border rounded-1 p-1 bg-white">
        <a class="link-reset ps-2 fs-5 fw-bold" href="/">Runtime.land</a>
    </div>
    {{#if project_name}}
    <div id="project-nav" class="flex-column mb-auto px-3 py-2">
        <p class="text-uppercase text-body-tertiary small mb-2">project</p>
        <nav class="nav flex-column">
            <a class="mb-1 vertical-center nav-link rounded {{page.nav_active.projectsingle}}"
                href="/projects/{{project_name}}"><i class='bx bxs-dashboard me-2'></i>Overview</a>
            <a class="mb-1 vertical-center nav-link rounded {{page.nav_active.projecttraffic}}"
                href="/projects/{{project_name}}/traffic"><i class='bx bx-line-chart me-2'></i>Traffic</a>
            <a class="vertical-center nav-link rounded {{page.nav_active.projectsettings}}"
                href="/projects/{{project_name}}/settings"><i class='bx bxs-cog me-2'></i>Settings</a>
        </nav>
    </div>
    {{else}}
    <div id="account-nav" class="flex-column mb-auto px-3 py-2">
        <p class="text-uppercase text-body-tertiary small mb-2">account</p>
        <nav class="nav flex-column">
            <a class="mb-1 vertical-center nav-link rounded {{page.nav_active.home}}" href="/"><i
                    class='bx bxs-dashboard me-2'></i>Dashboard</a>
            <a class="vertical-center nav-link rounded {{page.nav_active.projects}}" href="/projects"><i
                    class='bx bx-layer me-2'></i>Projects</a>
        </nav>
    </div>
    {{/if}}
    <div id="resource-nav" class="p-3">
        <p class="text-uppercase text-body-tertiary small mb-2">resources</p>
        <nav class="nav flex-column">
            <a class="nav-link mb-1 vertical-center rounded" href="/docs"><i class='bx bx-file-find me-2'></i>Docs</a>
            <a class="nav-link vertical-center rounded" href="/feedback"><i
                    class='bx bx-message-alt-edit me-2'></i>Feedback</a>
        </nav>
    </div>
</aside>