<!doctype html>
<html>

<head>
    {{> partials/meta.hbs}}
</head>

<body>
    {{> partials/navbar.hbs}}
    <main id="main">
        <div id="project-top">
            <h1>Projects</h1>
            <span class="count">{{projects_count}} projects</span>
        </div>
        <div id="project-searchbar">
            <form>
                <label for="project-search-input">Search</label>
                <div class="relative">
                    <div class="search-icon">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="search" id="project-search-input" placeholder="Project name" required>
                </div>
            </form>
            <div id="project-createbar">
                <a href="#" class="new-project-button">+ New Project</a>
            </div>
        </div>
        <div id="projects-list" class="mt-6">
            {{#each projects}}
            <div class="flex space-x-4">
                {{#each this}}
                <div class="project-card">
                    <div class="card-left">
                        <a class="block" href="/projects/{{name}}">
                            <div class="card-title">{{name}}</div>
                            <div class="card-metadata">
                                <span class="item language">{{language}}</span>
                                <span class="item">{{deployments}} Deploys</span>
                                <span class="item">{{updated_timeago}}</span>
                            </div>
                            {{#if production_url}}
                            <div class="card-link">
                                <a href="{{production_url}}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 inline-block mr-1">
                                        <path fill-rule="evenodd"
                                            d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z"
                                            clip-rule="evenodd" />
                                        <path fill-rule="evenodd"
                                            d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z"
                                            clip-rule="evenodd" />
                                    </svg>
                                    {{production_label}}</a>
                            </div>
                            {{/if}}
                        </a>
                    </div>
                    <div class="card-right">
                        <a href="/projects/{{name}}" class="action-button {{status_label}}">{{status_label}}</a>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </main>
    {{> partials/footer.hbs}}
</body>

</html>